.amigo-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em
}

.img-container {
    display: flex;
    flex-direction: row;
    height: 70%;
    margin-bottom: 1em;
}

img {
    height: 50vh;
    width: 50vh;
    object-fit: contain;
    border: 2px solid antiquewhite
}

.title-box {
    text-align: center;
    height: 10%;
    font-size: 35px;
}

.title-box small {
    font-size: 24px
}

.story-box {
    display: flex;
    flex-direction: row;
    height: 20%;
}

.invisible {
    display: none;
}

.active {
    display: block;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}