<div class="navbar-container">
    <div class="navbar-controls">
        <ul>
            <li routerLinkActive="active"><button [routerLink]="['home']">Home</button></li>
            <li routerLinkActive="active"><button [routerLink]="['formation']">Formation</button></li>
            <li routerLinkActive="active"><button [routerLink]="['memory-lane']">Memory Lane</button></li>
            <li routerLinkActive="active"><button [routerLink]="['about']">About</button></li>
        </ul>
    </div>
</div>